*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.new{
    background-color: black;
   
   max-width: 90rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    padding: 3rem;

}
.hsection{
    background-color: pink;
    padding: 3rem;
}
 background-color: yellow;